architecture: standalone

auth:
  enabled: false

master:
  persistence:
    enable: false
    size: 1Gi
  resources:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m

replicas:
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 100m
  persistence:
    enabled: true
    size: 1Gi

networkPolicy:
  enabled: true
  ingressNSMatchLabels:
    kubernetes.io/metadata.name: {{ deployment_namespace }}
